[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
pyjwt = "*"
starlette = "*"
emails = "*"
python-multipart = "*"
pydantic = {extras = ["email"], version = "*"}
bcrypt = "*"
jinja2 = "*"
itsdangerous = "*"
passlib = {extras = ["bcrypt"], version = "*"}
fastapi-jwt-auth = {extras = ["asymmetric"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
